[Desktop Entry]
Type=Application
Name=TIFO
Comment=Peer-to-peer living terrace for football fans
Exec=/home/hickson/tifo/node_modules/electron/dist/electron /home/hickson/tifo --no-updates
Path=/home/hickson/tifo
Icon=com.tifo.TIFO
Terminal=false
Categories=Network;Chat;
StartupNotify=true
StartupWMClass=com.tifo.TIFO
